$border-rad: 2rem;
$clr-btn: #15DEA5;
.btn {
    border-radius: $border-rad;
    background-color: $clr-btn;
    position: relative;
    z-index: 1;
    color: white;
    font-style: italic;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: darken($clr-btn, 5);
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
    }
}